<div class="row">
    <div class="col">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Выбирайте полезное</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://roscontrol.com/files/images/articles/7d/04/7d04bd926f89b744fe75_content_big_87fde87d.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Нравится</button>
                <button mat-button>Поделиться</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Долой химию</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://politikus.ru/uploads/posts/2016-02/1456424778_produkty-pitaniya.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Нравится</button>
                <button mat-button>Поделиться</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Витамины</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://s13.stc.all.kpcdn.net/share/i/12/10551310/inx960x640.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Нравится</button>
              <button mat-button>Поделиться</button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>
