<!--<h2 mat-dialog-title>Добавить продукт</h2>-->
<mat-dialog-content>

  <p class="lead">Выберите продукт</p>
  <app-light-search (productClickedEvent)="productSelected($event)"></app-light-search>

  <mat-form-field class="full-width my-4">
    <textarea matInput placeholder="Информация о борде" class="full-width" [(ngModel)]="model.Information"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-between">
  <button mat-button [mat-dialog-close]="null" class="boad-text">Нет, хватит</button>
  <button mat-button [mat-dialog-close]="model" class="boad-text">Добавить</button>
</mat-dialog-actions>
