<div>
  <label>Введите старый пароль:</label>
  <input #oldPasswordInput type="password">
</div>
<div>
  <label>Введите новый пароль:</label>
  <input #newPasswordInput type="password">
</div>
<div>
  <label>Повторите новый пароль:</label>
  <input #newPasswordConfirmInput type="password">
  <div *ngIf="newPasswordInput.value !== newPasswordConfirmInput.value">Новый пароль не совпадает c подтверждением нового пароля</div>
</div>
<div>
  <button (click)="this.changePassword(oldPasswordInput.value, newPasswordInput.value, newPasswordConfirmInput.value)">Изменить</button>
</div>

