<div class="jumbotron">
  <h2>Фуфлопродуктам.нет</h2>
  <p style="text-indent: 1.5em">Сайт фуфлопродуктам.нет создан специально для того, чтобы помочь вам избежать плохих
    покупок.
    Добавляйте продукты по фотографии штрихкода, оценивайте, комментируйте, и впредь вы никогда не купите плохой
    продукт дважды.<br></p>
  <p style="text-indent: 1.5em">На сайте применена технология распознания штрихкода, которая автоматически дешифрует
    штрихкод по фотографии и
    собирает в интернете полную информации о продукте, включая название, состав, производителя и т.д.
    Все, что вам остается сделать - сфотографировать, загрузить, оценить, и никогда больше не покупать.<br></p>
  <p style="text-indent: 1.5em">Впрочем, никто не запрещает вам использовать наш сайт для того, чтобы отметить для себя
    и хорошие продукты :)<br></p>
  <p style="text-indent: 1.5em">Пользуйтесь на ваше усмотрение.</p>
  <p style="font-size: 13px">p.s. там внизу есть маааленькая такая оранжевенькая кнопочка с совершенно чудеснейшим
    функционалом, обязательно посмотрите, что она делает!</p>

</div>
