<mat-card>
  <mat-card-header>
    <mat-toolbar color="secondary">
      <h2 class="pt-3">Восстановление пароля</h2>
    </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <div class="container mt-3 ml-5">
      <form #requestForm="ngForm" (ngSubmit)="submitForm()">

        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Ваш email" type="email" name="email" required [(ngModel)]="this.email">
          </mat-form-field>
        </div>

        <div class="form-group">
          <p>{{errors}}</p>
        </div>

        <div class="form-group">
          <button mat-button type="submit" ng-disabled="ngForm.invalid">Отправить письмо</button>
        </div>
      </form>
    </div>

    <div style="margin-left: 15px;" *ngIf="this.isRequestSent">

      <div class="container2">
        <form #requestForm2="ngForm" (ngSubmit)="changePassword()">

          <a>На вашу почту было отправлено письмо с кодом подтверждения.<br>Введите код из письма и новый пароль.</a>

          <div class="form-group">
            <mat-form-field>
              <input matInput #tokenInput placeholder="Код подтверждения" type="text" name="token" required [(ngModel)]="this.token">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput #newPasswordInput placeholder="Новый пароль" type="password" name="password" required
                [(ngModel)]="this.newPassword">
            </mat-form-field>
          </div>

          <div class="form-group">
            <button mat-stroked-button color="primary" type="submit" ng-disabled="ngForm.invalid">Сменить пароль</button>
          </div>

        </form>
      </div>
    </div>


  </mat-card-content>
</mat-card>
