<!--The content below is only a placeholder and can be replaced.-->
<app-slideshow></app-slideshow>
<mat-divider></mat-divider>
<app-title></app-title>
<app-default-page-cards></app-default-page-cards>
<!-- <mat-card> -->
<!-- Discomment if you want to recreate database(FOR DEBUG MODE) NOT RECOMMENDED-->
  <!-- <mat-card-title>
    <h1>List of componentes</h1>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <app-database class="m-3"></app-database>
  </mat-card-content>
</mat-card> -->

