<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../assets/img/WasteProducts-Logo.png" href="#" routerLink="" alt="Made with IT-Academy" height="100%">
    </a>
    <div class="navbar-start">
      <a class="navbar-item">
        <app-main-page></app-main-page>
      </a>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">

      <!-- Seaerch -->
      <app-search></app-search>

      <!-- Account -->
      <app-account-panel-button></app-account-panel-button>

    </div>
  </div>
</nav>
