@model dynamic
@{
    ViewBag.Title = "title";
}

<section class="py-4">
    <h1 class="display-4 mb-3">Welcome to Waste Products homepage.</h1>
    <p class="lead">This is some strange service... bla-bla-bla.</p>
    <hr class="m-3" />
    <a href="@Url.Action("Index","Error")" class="btn btn-outline-primary text-center">All logged unhandled errors </a>
    <a href="/swagger" class="btn btn-outline-success text-center">Swagger</a>
</section>