@{
    Layout = "~/Views/Shared/Error.cshtml";
}

@section ErrorTitle {
    <span class="far fa-fire" style="color: red" aria-hidden="true"></span> Internal Server Error
}

@section ErrorMessage {
    The web server is returning an internal error for
    <em>
        <span>@Request.Url.Host</span>
    </em>.
}

@section ActionButtons {
    <a href="javascript:document.location.reload(true);" class="btn btn-outline-secondary text-center">
        <span class="far fa-undo" aria-hidden="true"></span> Try This Page Again
    </a>
}