#search-result {
  margin: 50px;
}

table {
  width: 100%;
}

mat-list-item {
  width: 100%;
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

mat-list {
  background-color: white;
  margin-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}

img {
  width: 100%;
  max-width: 100px;
  height: auto;
  float: left;
}

